/* Header.module.css */
.header {
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: 0 20px;
    background-color: transparent;
    z-index: 30;
    pointer-events: none;
  }
  
  .button {
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 16px;
    pointer-events: auto;
  }
  
  .mobileMenuButton {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    pointer-events: auto;
  }
  
  .mobileMenu {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50px;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    border-radius: 5px;
  }
  
  .mobileLink {
    color: white;
    padding: 5px 10px;
    text-decoration: none;
  }
  