#globe-container {
    width: 100%;
    height: 120vh;
    z-index: 0; /* Adjust z-index to layer correctly */
    background-color: rgba(255, 255, 255, 0.05); /* TEMPORARY, CHANGE LATER*/
    
  }
  
  canvas {
    background: transparent !important; /* Make sure the canvas has no background color */
  }
  