.containerr{
    height: 100%;
    width: 100% !important;
    margin: auto 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background:
    url('../public/pattern-mask-group.svg') no-repeat center/auto, /* Top layer: Image */
    linear-gradient(180deg, #0d1b2a, #33669c); /* Bottom layer: Gradient */
    height: 100vh;
    overflow: hidden;
}

.containerr > .head{
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    width: 95%;
    margin: 0 auto  ;
}

.containerr > .leaderbody{
    height: 550px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    position: relative;
    /* background-color: #f0f0f0; */
}

.containerr > .head > .west {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    color: white;
    margin-bottom: 20px;
}

.containerr > .head > .ellipse{
    width: 60px;
    height: 60px;
}

.containerr > .head > .west > .radio{
    width: 350px;
    height: 40px;
    min-width: 200px;
    background-color: rgba(0, 0, 0, 0.2); /* Black with 40% opacity */
    backdrop-filter: blur(2px);
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerr > .head > .west > .radio > .item{
    flex: 1;
    height: 80%;
    border-radius: 30px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
    cursor: pointer;
}
.containerr > .head > .west > .radio > .active{
    flex: 1;
    height: 80%;
    border-radius: 30px;
    background-color: #45BEA6;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
}

.containerr > .head > .west > .radio > .item > p{
    color: white;
    font-size: 14px;
    font-weight: 600;
    opacity: 0.7;
}

.containerr > .head > .west > .radio > .active > p{
    color: black;
    font-weight: 600;
    opacity: 0.7;
}

.containerr >.leaderbody > .leaderlist{
    flex: 4;
    height: 90%;
    margin-top: auto;
    overflow-x: hidden; /* Enables horizontal scrolling */
    overflow-y: auto; /* Prevents vertical scrolling */
    white-space: nowrap; /* Ensures content stays on a single line */
    scroll-behavior: smooth; /* Optional: Smooth scrolling effect */
    z-index: 1;
}

.leaderbody > .leaderlist::-webkit-scrollbar {
    width: 2px; /* Height of the horizontal scrollbar */
}

.leaderbody > .coins {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
}

.leaderbody > .coins > .coinsimg{
    min-width: 200px;
    height: 300px;
}
.coinsvertical > .rank{
    width: 0;
    height: 0;
    visibility: hidden;
  }
.leaderbody > .coins > .rank {
    width: 120px;
    height: 45px;
    margin-top: 35%;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(2px);
    font-size: 16px;
    font-weight: 700;
    border-radius: 10px;
    cursor: pointer;
    z-index: 5;
    transition: all ease-in-out 0.3s;
    border: 2px solid #45BEA6;
    color: #45BEA6;
    outline: none;
}


.leaderbody > .shades {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}
@media  screen and (max-width: 933px) and (max-height: 431px) {
    .containerr{
      height: 100%;
    }
    .containerr > .head{
     margin-top: 20px !important;
    }
    .leaderbody > .coins > .rank{
      margin-top: 50% !important;
    }
  }

  @media only screen and (max-width: 431px) and (max-height: 933px) {
    .containerr > .head {
      position: relative;
      align-items: flex-start !important;
      margin-top: 50px !important;
    }
    .containerr > .head > .ellipse {
      margin-top: 10%;
    }

    .containerr >.leaderbody > .leaderlist{
      flex: 3;
      margin-top: auto;
      width: 100%;
      overflow-x: hidden; /* Enables horizontal scrolling */
      overflow-y: auto; /* Prevents vertical scrolling */
      white-space: nowrap; /* Ensures content stays on a single line */
      scroll-behavior: smooth; /* Optional: Smooth scrolling effect */
      z-index: 10;
  }
  .leaderbody > .coins > .coinsimg{
    position: absolute;
    top: 0;
    right: 40%;
    z-index: 1 !important;
    opacity: 0.7;
  }
  .containerr > .leaderbody{
    height: 730px !important;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    width: 110% !important;
    margin: 0 auto;
    position: relative;
    z-index: 10 !important;
    gap: 20px;
  }
  .containerr > .leaderbody > .coins > .rank{
   align-self: flex-end !important;
   margin:  0 !important;
   margin-right: 45px !important;
  }
  .containerr > .leaderbody > .coins {
    flex: 0 !important;
    height: 50px !important;
    width: 100% !important;
    height: auto !important;
   }
  .containerr >.leaderbody > .leaderlist{
    flex: 4 !important;
    width: 100% !important;
    margin-top: 0 !important;
    overflow-x: hidden; /* Enables horizontal scrolling */
    overflow-y: auto; /* Prevents vertical scrolling */
    white-space: nowrap; /* Ensures content stays on a single line */
    scroll-behavior: smooth; /* Optional: Smooth scrolling effect */
    z-index: 100 !important;
  }
  .userinfo {
    width: 120px !important;
  }
  .achievement{
    visibility: hidden;
    width: 0 !important;
    height: 0 !important;
    margin: 0 !important;
    min-width: 0 !important;
    overflow: hidden !important;
  }
  .trophy{
    margin-left: 0 !important;
    visibility: hidden;
    width: 0 !important;
    margin: 0 !important;
    min-width: 0 !important;
  }
  .user , .userinfo{
    min-width: auto !important;
    margin-left: 5px !important;
  }
  .rank{
    margin-left: 10px !important;

  }
  .userrow {
    gap: 0 !important;
  }
  .userrow > .credits{
    margin-right: 20px !important;
    min-width: none !important;
    margin-left: 0 !important;

  }
  .userrow > .user {
    margin-right: 0 !important;
    min-width: none !important;
  }
  }

  @media  screen and (max-width: 933px) and (max-height: 431px) {

    .leaderbody > .coins > .rank{
      margin-top: 50% !important;
      margin-bottom: 20px !important;
    }
  }

.containerr > nav {
 width: 96.9% !important;
 margin-bottom: -2%;
 margin-top: 3px;
}
