.menuu{
    background-color: white !important;
    color:rgb(29 ,78 ,216);
    border: 2px solid rgb(191, 219 ,254 );
    padding: 0 !important;
    /* visibility: visible; */
}
 .menuu > .item {
    cursor: pointer;
    border-bottom: 2px solid rgb(191, 219 ,254 );
    width: 100%;
 }
 .menuu> .item:hover{
    font-weight: 500 !important;
 }
.menuu > .item:last-child {
    border-bottom: none;
}
